body{
background-color: #8a0000;
}
.ike{
  width:200px;
  float:inherit;
}
}
.partA{
  color: #ffd940
}
.jumbotron{
  font-family: cursive;
  background-color:#ff9900;
  color: #ffffff;
}
.container{
  color:#ffcc00;
  background-color: #6e6e6e;
  }
.fix{
  color:#ffcc00;
  background-color: #6e6e6e;
}

.filler{
  background-color: #8a0000;
  font-weight: 800;
}

a{
  color:#00ffff;
}

.container strong{
  color: #8a0000;
}

.box {
  border: 4px solid #ff9900;
  padding: 3px;
  color: #ffd940;
  background-color: #6e6e6e;
}

.sidebar{
  width: 30%;
  float: right;
  color:#ffcc00;
  background-color: #938f96;
}
.job{
  font-style: italic;
}
